@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* custom font */
  --font-primary: var(--font-inter);
  --font-logo-primary: var(--font-almendra);
  --font-logo-secondary: var(--font-playwrite-au);

  /* custom color palette */

  /* light mode */
  --color-bg-base: oklch(98.5% 0.002 247.839);
  --color-card-bg: oklch(98.5% 0 0);
  --color-card-border: oklch(1 0 0 / 30%);
  --color-card-shadow: 0 4px 30px oklch(0 0 0 / 10%);

  --color-text-primary: oklch(0.3506 0.0066 248.02);
  --color-text-secondary: oklch(0.4024 0.027 279.51);

  --color-accent-primary: oklch(0.3016 0.0268 266.68);
  --color-accent-red: oklch(0.6375 0.2489 20.73);
  --color-accent-green: oklch(0.7266 0.208471 148.3381);
  --color-accent-yellow: oklch(0.8034 0.1704 73.79);
  --color-accent-logo: oklch(68.5% 0.169 237.323);

  /* dark mode */

  --color-d-bg-base: oklch(15% 0.002 247.839);
  --color-d-card-bg: oklch(20% 0 0);
  --color-d-card-border: oklch(100% 0 0 / 15%);
  --color-d-card-shadow: 0 4px 30px oklch(0 0 0 / 50%);

  --color-d-text-primary: oklch(90% 0.0066 248.02);
  --color-d-text-secondary: oklch(75% 0.027 279.51);

  --color-d-accent-primary: oklch(75% 0.0268 266.68);
  --color-d-accent-red: oklch(70% 0.2489 20.73);
  --color-d-accent-green: oklch(75% 0.208471 148.3381);
  --color-d-accent-yellow: oklch(78% 0.1704 73.79);
  --color-d-accent-logo: oklch(72% 0.169 237.323);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));
